[data-product="Core"] {
  --padding-scale-1: 2;
  --padding-scale-2: 4;
  --padding-scale-3: 6;
  --padding-scale-4: 8;
  --padding-scale-5: 12;
  --padding-scale-6: 16;
  --padding-scale-7: 20;
  --padding-scale-8: 24;
  --padding-scale-9: 28;
  --padding-scale-10: 32;
  --padding-scale-11: 48;
  --font-scale-1: 9;
  --font-family-display: Lab Antiqua;
  --font-weight-display: Small Condensed;
  --font-weight-title: Extra Light;
  --font-weight-subtitle: Light;
  --font-weight-metric-display: Regular;
  --font-weight-metric: Light;
  --font-weight-heading: Light;
  --font-weight-heading-heavier: Medium;
  --font-weight-body: Regular;
  --font-weight-body-heavier: Medium;
  --font-weight-caption: Regular;
  --font-weight-label: Regular;
  --font-weight-label-heavier: Medium;
  --font-weight-metadata: Regular;
  --font-weight-eyebrow: Regular;
  --font-weight-icon-outlined: 350;
  --font-weight-icon-filled: 350;
  --font-family-title: Inter;
  --font-family-subtitle: Inter;
  --font-family-metric-display: Inter;
  --font-family-metric: Inter;
  --font-family-heading: Inter;
  --font-family-heading-heavier: Inter;
  --font-family-body: Inter;
  --font-family-body-heavier: Inter;
  --font-family-caption: Inter;
  --font-family-label: Inter;
  --font-family-label-heavier: Inter;
  --font-family-metadata: Inter;
  --font-family-eyebrow: Inter;
  --font-family-icon-outlined: Material Symbols Outlined;
  --font-family-icon-filled: Material Symbols Filled;
  --font-scale-2: 10;
  --font-scale-3: 12;
  --font-scale-4: 14;
  --font-scale-5: 16;
  --font-scale-6: 18;
  --font-scale-7: 20;
  --font-scale-8: 24;
  --font-scale-9: 28;
  --font-scale-10: 32;
  --font-scale-11: 44;
  --font-scale-12: 52;
  --font-scale-13: 64;
  --font-scale-14: 72;
  --lh-scale-1: 13;
  --lh-scale-2: 14;
  --lh-scale-3: 16;
  --lh-scale-4: 18;
  --lh-scale-5: 20;
  --lh-scale-6: 22;
  --lh-scale-7: 26;
  --lh-scale-8: 30;
  --lh-scale-9: 34;
  --lh-scale-10: 38;
  --lh-scale-11: 48;
  --lh-scale-12: 58;
  --lh-scale-13: 68;
  --lh-scale-14: 76;
  --dimensions-scale-1: 2;
  --dimensions-scale-2: 4;
  --dimensions-scale-3: 6;
  --dimensions-scale-4: 8;
  --dimensions-scale-5: 16;
  --dimensions-scale-6: 20;
  --dimensions-scale-7: 24;
  --dimensions-scale-8: 28;
  --dimensions-scale-9: 32;
  --dimensions-scale-10: 36;
  --dimensions-scale-11: 40;
  --dimensions-scale-12: 48;
  --dimensions-scale-13: 54;
  --dimensions-scale-14: 60;
  --dimensions-scale-15: 72;
  --layout-scale-1: 8;
  --layout-scale-2: 12;
  --layout-scale-3: 16;
  --layout-scale-4: 24;
  --layout-scale-5: 32;
  --layout-scale-6: 40;
  --layout-scale-7: 48;
  --layout-scale-8: 56;
  --layout-scale-9: 64;
  --negative-scale-neg1: -2;
  --negative-scale-neg2: -2;
  --negative-scale-neg3: -3;
  --elevation-scale-1: 2;
  --elevation-scale-2: 4;
  --elevation-scale-3: 6;
  --elevation-scale-4: 8;
  --elevation-scale-5: 12;
  --elevation-scale-6: 16;
  --elevation-scale-7: 24;
  --elevation-opacity-scale-low: 12;
  --elevation-opacity-scale-medium: 16;
  --elevation-opacity-scale-high: 24;
  --settings-scale-system-space: 4;
  --radius-scale-container: [object Object];
  --radius-scale-button: [object Object];
  --radius-scale-badge: 2;
  --radius-scale-input: [object Object];
  --radius-scale-avatar: 9999999;
  --radius-scale-chat-bubble: 8;
  --maxwidth-scale-none: 100000000;
  --maxwidth-scale-standard: 1440;
  --maxwidth-scale-wide: 1680;
  --maxwidth-scale-x-wide: 1920;
}

[data-product="Expressive"] {
  --padding-scale-1: 4;
  --padding-scale-2: 6;
  --padding-scale-3: 12;
  --padding-scale-4: 16;
  --padding-scale-5: 20;
  --padding-scale-6: 28;
  --padding-scale-7: 32;
  --padding-scale-8: 40;
  --padding-scale-9: 48;
  --padding-scale-10: 52;
  --padding-scale-11: 64;
  --font-scale-1: 10;
  --font-family-display: Lab Antiqua;
  --font-weight-display: Small Condensed;
  --font-weight-title: Small Condensed;
  --font-weight-subtitle: Light;
  --font-weight-metric-display: Small Condensed;
  --font-weight-metric: Light;
  --font-weight-heading: Medium;
  --font-weight-heading-heavier: Semi Bold;
  --font-weight-body: Regular;
  --font-weight-body-heavier: Semi Bold;
  --font-weight-caption: Regular;
  --font-weight-label: Regular;
  --font-weight-label-heavier: Medium;
  --font-weight-metadata: Regular;
  --font-weight-eyebrow: Regular;
  --font-weight-icon-outlined: 350;
  --font-weight-icon-filled: 350;
  --font-family-title: Lab Antiqua;
  --font-family-subtitle: Inter;
  --font-family-metric-display: Lab Antiqua;
  --font-family-metric: Inter;
  --font-family-heading: Inter;
  --font-family-heading-heavier: Inter;
  --font-family-body: Inter;
  --font-family-body-heavier: Inter;
  --font-family-caption: Inter;
  --font-family-label: Inter;
  --font-family-label-heavier: Inter;
  --font-family-metadata: Inter;
  --font-family-eyebrow: Inter;
  --font-family-icon-outlined: Material Symbols Outlined;
  --font-family-icon-filled: Material Symbols Filled;
  --font-scale-2: 12;
  --font-scale-3: 14;
  --font-scale-4: 16;
  --font-scale-5: 18;
  --font-scale-6: 20;
  --font-scale-7: 24;
  --font-scale-8: 28;
  --font-scale-9: 32;
  --font-scale-10: 44;
  --font-scale-11: 48;
  --font-scale-12: 60;
  --font-scale-13: 72;
  --font-scale-14: 84;
  --lh-scale-1: 13;
  --lh-scale-2: 14;
  --lh-scale-3: 18;
  --lh-scale-4: 20;
  --lh-scale-5: 22;
  --lh-scale-6: 26;
  --lh-scale-7: 30;
  --lh-scale-8: 34;
  --lh-scale-9: 38;
  --lh-scale-10: 48;
  --lh-scale-11: 52;
  --lh-scale-12: 68;
  --lh-scale-13: 76;
  --lh-scale-14: 88;
  --dimensions-scale-1: 4;
  --dimensions-scale-2: 4;
  --dimensions-scale-3: 6;
  --dimensions-scale-4: 12;
  --dimensions-scale-5: 24;
  --dimensions-scale-6: 28;
  --dimensions-scale-7: 36;
  --dimensions-scale-8: 44;
  --dimensions-scale-9: 48;
  --dimensions-scale-10: 52;
  --dimensions-scale-11: 60;
  --dimensions-scale-12: 64;
  --dimensions-scale-13: 72;
  --dimensions-scale-14: 84;
  --dimensions-scale-15: 96;
  --layout-scale-1: 12;
  --layout-scale-2: 16;
  --layout-scale-3: 24;
  --layout-scale-4: 32;
  --layout-scale-5: 40;
  --layout-scale-6: 48;
  --layout-scale-7: 64;
  --layout-scale-8: 72;
  --layout-scale-9: 84;
  --negative-scale-neg1: -2;
  --negative-scale-neg2: -2;
  --negative-scale-neg3: -4;
  --elevation-scale-1: 2;
  --elevation-scale-2: 4;
  --elevation-scale-3: 6;
  --elevation-scale-4: 8;
  --elevation-scale-5: 12;
  --elevation-scale-6: 16;
  --elevation-scale-7: 24;
  --elevation-opacity-scale-low: 12;
  --elevation-opacity-scale-medium: 16;
  --elevation-opacity-scale-high: 24;
  --settings-scale-system-space: 4;
  --radius-scale-container: [object Object];
  --radius-scale-button: [object Object];
  --radius-scale-badge: 4;
  --radius-scale-input: [object Object];
  --radius-scale-avatar: 9999999;
  --radius-scale-chat-bubble: 8;
  --maxwidth-scale-none: 100000000;
  --maxwidth-scale-standard: 1280;
  --maxwidth-scale-wide: 1360;
  --maxwidth-scale-x-wide: 1680;
}

[data-product="Quant"] {
  --padding-scale-1: 2;
  --padding-scale-2: 4;
  --padding-scale-3: 6;
  --padding-scale-4: 8;
  --padding-scale-5: 10;
  --padding-scale-6: 12;
  --padding-scale-7: 14;
  --padding-scale-8: 16;
  --padding-scale-9: 18;
  --padding-scale-10: 24;
  --padding-scale-11: 32;
  --font-scale-1: 8;
  --font-family-display: Lab Antiqua;
  --font-weight-display: Small Condensed;
  --font-weight-title: Extra Light;
  --font-weight-subtitle: Light;
  --font-weight-metric-display: Regular;
  --font-weight-metric: Light;
  --font-weight-heading: Regular;
  --font-weight-heading-heavier: Medium;
  --font-weight-body: Regular;
  --font-weight-body-heavier: Medium;
  --font-weight-caption: Regular;
  --font-weight-label: Regular;
  --font-weight-label-heavier: Medium;
  --font-weight-metadata: Regular;
  --font-weight-eyebrow: Regular;
  --font-weight-icon-outlined: 350;
  --font-weight-icon-filled: 350;
  --font-family-title: Inter;
  --font-family-subtitle: Inter;
  --font-family-metric-display: Inter;
  --font-family-metric: Inter;
  --font-family-heading: Inter;
  --font-family-heading-heavier: Inter;
  --font-family-body: Inter;
  --font-family-body-heavier: Inter;
  --font-family-caption: Inter;
  --font-family-label: Inter;
  --font-family-label-heavier: Inter;
  --font-family-metadata: Inter;
  --font-family-eyebrow: Inter;
  --font-family-icon-outlined: Material Symbols Outlined;
  --font-family-icon-filled: Material Symbols Filled;
  --font-scale-2: 9;
  --font-scale-3: 10;
  --font-scale-4: 12;
  --font-scale-5: 14;
  --font-scale-6: 16;
  --font-scale-7: 18;
  --font-scale-8: 20;
  --font-scale-9: 22;
  --font-scale-10: 24;
  --font-scale-11: 28;
  --font-scale-12: 32;
  --font-scale-13: 36;
  --font-scale-14: 42;
  --lh-scale-1: 12;
  --lh-scale-2: 12;
  --lh-scale-3: 14;
  --lh-scale-4: 16;
  --lh-scale-5: 18;
  --lh-scale-6: 20;
  --lh-scale-7: 24;
  --lh-scale-8: 26;
  --lh-scale-9: 28;
  --lh-scale-10: 30;
  --lh-scale-11: 32;
  --lh-scale-12: 36;
  --lh-scale-13: 40;
  --lh-scale-14: 46;
  --dimensions-scale-1: 2;
  --dimensions-scale-2: 2;
  --dimensions-scale-3: 4;
  --dimensions-scale-4: 6;
  --dimensions-scale-5: 14;
  --dimensions-scale-6: 16;
  --dimensions-scale-7: 18;
  --dimensions-scale-8: 20;
  --dimensions-scale-9: 22;
  --dimensions-scale-10: 24;
  --dimensions-scale-11: 28;
  --dimensions-scale-12: 32;
  --dimensions-scale-13: 36;
  --dimensions-scale-14: 40;
  --dimensions-scale-15: 48;
  --layout-scale-1: 2;
  --layout-scale-2: 4;
  --layout-scale-3: 8;
  --layout-scale-4: 12;
  --layout-scale-5: 16;
  --layout-scale-6: 20;
  --layout-scale-7: 24;
  --layout-scale-8: 28;
  --layout-scale-9: 32;
  --negative-scale-neg1: -2;
  --negative-scale-neg2: -2;
  --negative-scale-neg3: -2;
  --elevation-scale-1: 2;
  --elevation-scale-2: 4;
  --elevation-scale-3: 6;
  --elevation-scale-4: 8;
  --elevation-scale-5: 12;
  --elevation-scale-6: 16;
  --elevation-scale-7: 24;
  --elevation-opacity-scale-low: 12;
  --elevation-opacity-scale-medium: 16;
  --elevation-opacity-scale-high: 24;
  --settings-scale-system-space: 4;
  --radius-scale-container: [object Object];
  --radius-scale-button: [object Object];
  --radius-scale-badge: 2;
  --radius-scale-input: [object Object];
  --radius-scale-avatar: 9999999;
  --radius-scale-chat-bubble: 8;
  --maxwidth-scale-none: 100000000;
  --maxwidth-scale-standard: 1680;
  --maxwidth-scale-wide: 1920;
  --maxwidth-scale-x-wide: 2460;
}

