:root {

  /* Light Mode */
  --surface-neutral-minimal: #FFFFFF;
  --surface-neutral-subtler: #FAFAFA;
  --surface-neutral-subtle: #F2F4F7;
  --surface-neutral-regular: #EBEDF0;
  --surface-neutral-strong: #E3E5E8;
  --surface-neutral-bold: #B7BDC7;
  --surface-neutral-inverse: #000000;
  --surface-brand-minimal: #FFFCED;
  --surface-brand-subtle: #E7F5FF;
  --surface-brand-regular: #020B5B;
  --surface-brand-regular-always-dark: #020B5B;
  --surface-brand-bold: #001AFF;
  --surface-brand-inverse: #020B5B;
  --surface-always-white: #FFFFFF;
  --surface-always-dark: #000000;
  --surface-always-dark-brand: #020B5B;
  --surface-status-red-bold: #CC2929;
  --surface-status-red-subtle: #FFDEDE;
  --surface-status-orange-bold: #C75014;
  --surface-status-orange-subtle: #FFD2BC;
  --surface-status-yellow-bold: #FFC600;
  --surface-status-yellow-subtle: #FFF6D1;
  --surface-status-green-bold: #0B703D;
  --surface-status-green-subtle: #E1FFF0;
  --surface-status-blue-bold: #18A0C9;
  --surface-status-blue-subtle: #E6F9FF;
  --surface-transparent: #FFFFFF00;
  --surface-overlay: #0000005C;
  --text-neutral-bold: #000000F5;
  --text-neutral-regular: #000000D6;
  --text-neutral-subtle: #000000B8;
  --text-neutral-minimal: #000000A3;
  --text-brand-bold: #001AFF;
  --text-brand-regular: #020B5B;
  --text-brand-regular-always-dark: #020B5B;
  --text-brand-subtle: #020B5BD6;
  --text-inverse-neutral-bold: #FFFFFF;
  --text-inverse-brand-subtle: #FFFCED;
  --text-always-white: #FFFFFF;
  --text-always-black: #000000;
  --text-always-brand-bold: #001AFF;
  --text-status-red: #CC2929;
  --text-status-orange: #B83D00;
  --text-status-yellow: #8F6A06;
  --text-status-green: #0B703D;
  --text-status-blue: #007699;
  --logo-colored: #001AFF;
  --logo-inverse: #FFFFFF;
  --logo-neutral: #000000;
  --logo-always-white: #FFFFFF;
  --border-brand-bold: #001AFF;
  --border-brand-regular: #020B5B;
  --border-brand-subtle: #020B5B99;
  --border-neutral-bold: #000000;
  --border-neutral-strong: #132540A3;
  --border-neutral-regular: #13254080;
  --border-neutral-subtle: #1325405C;
  --border-neutral-subtler: #13254033;
  --border-neutral-minimal: #13254014;
  --border-inverse-neutral-bold: #FFFFFF;
  --border-inverse-neutral-regular: #FFFFFFD6;
  --border-inverse-neutral-subtle: #FFFFFF99;
  --border-inverse-neutral-minimal: #FFFFFF80;
  --border-inverse-brand-subtle: #FFFCED;
  --border-always-white-bold: #FFFFFF;
  --border-always-dark-bold: #000000;
  --border-status-green-bold: #0B703D;
  --border-status-red-bold: #E54545;
  --border-status-orange-bold: #DB5816;
  --border-status-yellow-bold: #B88909;
  --border-status-blue-bold: #18A0C9;
  --border-brand-accent-01: #1EFF8F;
  --border-brand-accent-02: #FF6262;
  --border-brand-accent-03: #FFC600;
  --border-brand-accent-04: #4AD4FF;
  --border-brand-accent-05: #EAFF00;
  --data-color-1: #020B5B;
  --data-color-2: #001AFF;
  --data-color-3: #14A85E;
  --data-color-4: #18A0C9;
  --data-color-5: #B88909;
  --data-color-6: #838F00;
  --data-color-7: #4489FF;
  --data-color-8: #008200;
  --data-color-9: #FA6419;
  --data-color-10: #7065FF;
  --data-color-11: #E54545;
  --data-status-red-bold: #CC2929;
  --data-status-green-bold: #098748;
  --data-status-yellow-bold: #B88909;
  --data-status-orange-bold: #DB5816;
  --elevation-overlay-10: #FFFFFF00;
  --elevation-overlay-20: #FFFFFF00;
  --elevation-overlay-30: #FFFFFF00;
  --state-enabled: #FFFFFF00;
  --state-disabled: 36;
  --state-surface-hover-neutral: #00000014;
  --state-surface-pressed-neutral: #0000001F;
  --state-surface-selected-subtle: #0461FF14;
  --state-text-hover-neutral-bold: #000000B8;
  --state-text-pressed-neutral-bold: #000000A3;
  --state-text-pressed-neutral-regular: #00000080;
  --state-text-pressed-neutral-subtle: #00000080;
  --state-text-pressed-neutral-minimal: #000000D6;
  --state-text-pressed-brand-bold: #020E7C;
  --state-text-pressed-brand-regular: #0514B7;
  --state-text-pressed-inverse-neutral-bold: #FFFFFFB8;
  --state-text-pressed-inverse-brand-subtle: #020E7C;
  --state-text-pressed-always-white: #FFFFFFB8;
  --state-text-pressed-always-black: #000000B8;
  --state-text-pressed-always-brand-bold: #020E7C;
  --state-text-pressed-error-bold: #FF8383;
  --state-text-pressed-warning-bold: #FFA476;
  --state-text-pressed-success-bold: #76FFBA;
  --state-text-hover-neutral-regular: #000000A3;
  --state-text-hover-neutral-subtle: #000000A3;
  --state-text-hover-neutral-minimal: #000000B8;
  --state-text-hover-brand-bold: #020B5B;
  --state-text-hover-brand-regular: #001AFF;
  --state-text-hover-inverse-neutral-bold: #FFFFFFD6;
  --state-text-hover-inverse-brand-subtle: #020B5B;
  --state-text-hover-always-white: #FFFFFFD6;
  --state-text-hover-always-black: #000000D6;
  --state-text-hover-always-brand-bold: #020B5B;
  --state-text-hover-error-bold: #FF6262;
  --state-text-hover-warning-bold: #FF8243;
  --state-text-hover-success-bold: #14A85E;
  --state-surface-selected-bold: #0461FF33;
  --state-surface-hover-inverse: #FFFFFF29;
  --state-surface-pressed-inverse: #FFFFFF3D;
  --state-surface-hover-brand-accent: #0461FF14;
  --state-surface-hover-inverse-brand-regular: #FFFCED1F;
  --state-surface-pressed-inverse-brand-regular: #FFFCED33;
  --state-surface-pressed-brand-accent: #0461FF1F;
  --state-surface-hover-brand-regular: #020B5B14;
  --state-surface-pressed-brand-regular: #020B5B1F;
  --state-surface-hover-always-black: #00000014;
  --state-surface-pressed-always-black: #0000001F;
  --state-surface-hover-always-white: #FFFFFF29;
  --state-surface-pressed-always-white: #FFFFFF3D;
  --state-border-selected-brand-bold: #001AFF;
  --state-border-selected-brand-regular: #020B5B;
  --state-border-selected-brand-inverse: #FFFCED;

  /* Dark Mode */
  --surface-neutral-minimal: #0D0E0F;
  --surface-neutral-subtler: #18191A;
  --surface-neutral-subtle: #15171A;
  --surface-neutral-regular: #222529;
  --surface-neutral-strong: #33373D;
  --surface-neutral-bold: #4D535C;
  --surface-neutral-inverse: #FFFFFF;
  --surface-brand-minimal: #020B5B;
  --surface-brand-subtle: #020B5B;
  --surface-brand-regular: #E7F5FF;
  --surface-brand-regular-always-dark: #010846;
  --surface-brand-bold: #2977FF;
  --surface-brand-inverse: #FFFCED;
  --surface-always-white: #FFFFFF;
  --surface-always-dark: #000000;
  --surface-always-dark-brand: #010846;
  --surface-status-red-bold: #E54545;
  --surface-status-red-subtle: #4D0000;
  --surface-status-orange-bold: #DB5816;
  --surface-status-orange-subtle: #852D00;
  --surface-status-yellow-bold: #FFC600;
  --surface-status-yellow-subtle: #664C03;
  --surface-status-green-bold: #07E175;
  --surface-status-green-subtle: #063D22;
  --surface-status-blue-bold: #4AD4FF;
  --surface-status-blue-subtle: #004F66;
  --surface-transparent: #00000000;
  --surface-overlay: #0000005C;
  --text-neutral-bold: #FFFFFFF5;
  --text-neutral-regular: #FFFFFFD6;
  --text-neutral-subtle: #FFFFFFB8;
  --text-neutral-minimal: #FFFFFF99;
  --text-brand-bold: #2977FF;
  --text-brand-regular: #E7F5FF;
  --text-brand-regular-always-dark: #020B5B;
  --text-brand-subtle: #E7F5FFB8;
  --text-inverse-neutral-bold: #000000;
  --text-inverse-brand-subtle: #020B5B;
  --text-always-white: #FFFFFF;
  --text-always-black: #000000;
  --text-always-brand-bold: #001AFF;
  --text-status-red: #FF6262;
  --text-status-orange: #FA6419;
  --text-status-yellow: #FFC600;
  --text-status-green: #07E175;
  --text-status-blue: #4AD4FF;
  --logo-colored: #FFFFFF;
  --logo-inverse: #000000;
  --logo-neutral: #FFFFFF;
  --logo-always-white: #FFFFFF;
  --border-brand-bold: #2977FF;
  --border-brand-regular: #E7F5FF;
  --border-brand-subtle: #FFFCEDB8;
  --border-neutral-bold: #FFFFFF;
  --border-neutral-strong: #FFFFFF99;
  --border-neutral-regular: #FFFFFF80;
  --border-neutral-subtle: #FFFFFF5C;
  --border-neutral-subtler: #FFFFFF33;
  --border-neutral-minimal: #FFFFFF1F;
  --border-inverse-neutral-bold: #000000;
  --border-inverse-neutral-regular: #000000D6;
  --border-inverse-neutral-subtle: #000000A3;
  --border-inverse-neutral-minimal: #00000080;
  --border-inverse-brand-subtle: #020B5B;
  --border-always-white-bold: #FFFFFF;
  --border-always-dark-bold: #000000;
  --border-status-green-bold: #14A85E;
  --border-status-red-bold: #FF6262;
  --border-status-orange-bold: #FA6419;
  --border-status-yellow-bold: #FFC600;
  --border-status-blue-bold: #4AD4FF;
  --border-brand-accent-01: #1EFF8F;
  --border-brand-accent-02: #FF6262;
  --border-brand-accent-03: #FFC600;
  --border-brand-accent-04: #4AD4FF;
  --border-brand-accent-05: #EAFF00;
  --data-color-1: #FFFCED;
  --data-color-2: #0461FF;
  --data-color-3: #1EFF8F;
  --data-color-4: #4AD4FF;
  --data-color-5: #FFC600;
  --data-color-6: #EAFF00;
  --data-color-7: #4489FF;
  --data-color-8: #00AD00;
  --data-color-9: #FA6419;
  --data-color-10: #A29AFF;
  --data-color-11: #FF6262;
  --data-status-red-bold: #FF6262;
  --data-status-green-bold: #1EFF8F;
  --data-status-yellow-bold: #FFC600;
  --data-status-orange-bold: #FA6419;
  --elevation-overlay-10: #FFFFFF1F;
  --elevation-overlay-20: #FFFFFF29;
  --elevation-overlay-30: #FFFFFF3D;
  --state-enabled: #00000000;
  --state-disabled: 40;
  --state-surface-hover-neutral: #FFFFFF1F;
  --state-surface-pressed-neutral: #FFFFFF33;
  --state-surface-selected-subtle: #0461FF33;
  --state-text-hover-neutral-bold: #FFFFFFB8;
  --state-text-pressed-neutral-bold: #FFFFFF99;
  --state-text-pressed-neutral-regular: #FFFFFF80;
  --state-text-pressed-neutral-subtle: #FFFFFF80;
  --state-text-pressed-neutral-minimal: #FFFFFFD6;
  --state-text-pressed-brand-bold: #CBE4FE;
  --state-text-pressed-brand-regular: #0461FF;
  --state-text-pressed-inverse-neutral-bold: #000000B8;
  --state-text-pressed-inverse-brand-subtle: #CBE4FE;
  --state-text-pressed-always-white: #FFFFFFB8;
  --state-text-pressed-always-black: #000000B8;
  --state-text-pressed-always-brand-bold: #0461FF;
  --state-text-pressed-error-bold: #990909;
  --state-text-pressed-warning-bold: #852D00;
  --state-text-pressed-success-bold: #095730;
  --state-text-hover-neutral-regular: #FFFFFF99;
  --state-text-hover-neutral-subtle: #FFFFFF99;
  --state-text-hover-neutral-minimal: #FFFFFFB8;
  --state-text-hover-brand-bold: #E7F5FF;
  --state-text-hover-brand-regular: #2977FF;
  --state-text-hover-inverse-neutral-bold: #000000D6;
  --state-text-hover-inverse-brand-subtle: #E7F5FF;
  --state-text-hover-always-white: #FFFFFFD6;
  --state-text-hover-always-black: #000000D6;
  --state-text-hover-always-brand-bold: #001AFF;
  --state-text-hover-error-bold: #B21212;
  --state-text-hover-warning-bold: #A33600;
  --state-text-hover-success-bold: #0B703D;
  --state-surface-selected-bold: #0461FF5C;
  --state-surface-hover-inverse: #00000014;
  --state-surface-pressed-inverse: #0000001F;
  --state-surface-hover-brand-accent: #0461FF1F;
  --state-surface-hover-inverse-brand-regular: #020B5B14;
  --state-surface-pressed-inverse-brand-regular: #020B5B1F;
  --state-surface-pressed-brand-accent: #0461FF29;
  --state-surface-hover-brand-regular: #FFFCED1F;
  --state-surface-pressed-brand-regular: #FFFCED29;
  --state-surface-hover-always-black: #00000014;
  --state-surface-pressed-always-black: #0000001F;
  --state-surface-hover-always-white: #FFFFFF29;
  --state-surface-pressed-always-white: #FFFFFF3D;
  --state-border-selected-brand-bold: #2977FF;
  --state-border-selected-brand-regular: #020B5B;
  --state-border-selected-brand-inverse: #E7F5FF;
}

[data-theme="light"] {
  --surface-neutral-minimal: #FFFFFF;
  --surface-neutral-subtler: #FAFAFA;
  --surface-neutral-subtle: #F2F4F7;
  --surface-neutral-regular: #EBEDF0;
  --surface-neutral-strong: #E3E5E8;
  --surface-neutral-bold: #B7BDC7;
  --surface-neutral-inverse: #000000;
  --surface-brand-minimal: #FFFCED;
  --surface-brand-subtle: #E7F5FF;
  --surface-brand-regular: #020B5B;
  --surface-brand-regular-always-dark: #020B5B;
  --surface-brand-bold: #001AFF;
  --surface-brand-inverse: #020B5B;
  --surface-always-white: #FFFFFF;
  --surface-always-dark: #000000;
  --surface-always-dark-brand: #020B5B;
  --surface-status-red-bold: #CC2929;
  --surface-status-red-subtle: #FFDEDE;
  --surface-status-orange-bold: #C75014;
  --surface-status-orange-subtle: #FFD2BC;
  --surface-status-yellow-bold: #FFC600;
  --surface-status-yellow-subtle: #FFF6D1;
  --surface-status-green-bold: #0B703D;
  --surface-status-green-subtle: #E1FFF0;
  --surface-status-blue-bold: #18A0C9;
  --surface-status-blue-subtle: #E6F9FF;
  --surface-transparent: #FFFFFF00;
  --surface-overlay: #0000005C;
  --text-neutral-bold: #000000F5;
  --text-neutral-regular: #000000D6;
  --text-neutral-subtle: #000000B8;
  --text-neutral-minimal: #000000A3;
  --text-brand-bold: #001AFF;
  --text-brand-regular: #020B5B;
  --text-brand-regular-always-dark: #020B5B;
  --text-brand-subtle: #020B5BD6;
  --text-inverse-neutral-bold: #FFFFFF;
  --text-inverse-brand-subtle: #FFFCED;
  --text-always-white: #FFFFFF;
  --text-always-black: #000000;
  --text-always-brand-bold: #001AFF;
  --text-status-red: #CC2929;
  --text-status-orange: #B83D00;
  --text-status-yellow: #8F6A06;
  --text-status-green: #0B703D;
  --text-status-blue: #007699;
  --logo-colored: #001AFF;
  --logo-inverse: #FFFFFF;
  --logo-neutral: #000000;
  --logo-always-white: #FFFFFF;
  --border-brand-bold: #001AFF;
  --border-brand-regular: #020B5B;
  --border-brand-subtle: #020B5B99;
  --border-neutral-bold: #000000;
  --border-neutral-strong: #132540A3;
  --border-neutral-regular: #13254080;
  --border-neutral-subtle: #1325405C;
  --border-neutral-subtler: #13254033;
  --border-neutral-minimal: #13254014;
  --border-inverse-neutral-bold: #FFFFFF;
  --border-inverse-neutral-regular: #FFFFFFD6;
  --border-inverse-neutral-subtle: #FFFFFF99;
  --border-inverse-neutral-minimal: #FFFFFF80;
  --border-inverse-brand-subtle: #FFFCED;
  --border-always-white-bold: #FFFFFF;
  --border-always-dark-bold: #000000;
  --border-status-green-bold: #0B703D;
  --border-status-red-bold: #E54545;
  --border-status-orange-bold: #DB5816;
  --border-status-yellow-bold: #B88909;
  --border-status-blue-bold: #18A0C9;
  --border-brand-accent-01: #1EFF8F;
  --border-brand-accent-02: #FF6262;
  --border-brand-accent-03: #FFC600;
  --border-brand-accent-04: #4AD4FF;
  --border-brand-accent-05: #EAFF00;
  --data-color-1: #020B5B;
  --data-color-2: #001AFF;
  --data-color-3: #14A85E;
  --data-color-4: #18A0C9;
  --data-color-5: #B88909;
  --data-color-6: #838F00;
  --data-color-7: #4489FF;
  --data-color-8: #008200;
  --data-color-9: #FA6419;
  --data-color-10: #7065FF;
  --data-color-11: #E54545;
  --data-status-red-bold: #CC2929;
  --data-status-green-bold: #098748;
  --data-status-yellow-bold: #B88909;
  --data-status-orange-bold: #DB5816;
  --elevation-overlay-10: #FFFFFF00;
  --elevation-overlay-20: #FFFFFF00;
  --elevation-overlay-30: #FFFFFF00;
  --state-enabled: #FFFFFF00;
  --state-disabled: 36;
  --state-surface-hover-neutral: #00000014;
  --state-surface-pressed-neutral: #0000001F;
  --state-surface-selected-subtle: #0461FF14;
  --state-text-hover-neutral-bold: #000000B8;
  --state-text-pressed-neutral-bold: #000000A3;
  --state-text-pressed-neutral-regular: #00000080;
  --state-text-pressed-neutral-subtle: #00000080;
  --state-text-pressed-neutral-minimal: #000000D6;
  --state-text-pressed-brand-bold: #020E7C;
  --state-text-pressed-brand-regular: #0514B7;
  --state-text-pressed-inverse-neutral-bold: #FFFFFFB8;
  --state-text-pressed-inverse-brand-subtle: #020E7C;
  --state-text-pressed-always-white: #FFFFFFB8;
  --state-text-pressed-always-black: #000000B8;
  --state-text-pressed-always-brand-bold: #020E7C;
  --state-text-pressed-error-bold: #FF8383;
  --state-text-pressed-warning-bold: #FFA476;
  --state-text-pressed-success-bold: #76FFBA;
  --state-text-hover-neutral-regular: #000000A3;
  --state-text-hover-neutral-subtle: #000000A3;
  --state-text-hover-neutral-minimal: #000000B8;
  --state-text-hover-brand-bold: #020B5B;
  --state-text-hover-brand-regular: #001AFF;
  --state-text-hover-inverse-neutral-bold: #FFFFFFD6;
  --state-text-hover-inverse-brand-subtle: #020B5B;
  --state-text-hover-always-white: #FFFFFFD6;
  --state-text-hover-always-black: #000000D6;
  --state-text-hover-always-brand-bold: #020B5B;
  --state-text-hover-error-bold: #FF6262;
  --state-text-hover-warning-bold: #FF8243;
  --state-text-hover-success-bold: #14A85E;
  --state-surface-selected-bold: #0461FF33;
  --state-surface-hover-inverse: #FFFFFF29;
  --state-surface-pressed-inverse: #FFFFFF3D;
  --state-surface-hover-brand-accent: #0461FF14;
  --state-surface-hover-inverse-brand-regular: #FFFCED1F;
  --state-surface-pressed-inverse-brand-regular: #FFFCED33;
  --state-surface-pressed-brand-accent: #0461FF1F;
  --state-surface-hover-brand-regular: #020B5B14;
  --state-surface-pressed-brand-regular: #020B5B1F;
  --state-surface-hover-always-black: #00000014;
  --state-surface-pressed-always-black: #0000001F;
  --state-surface-hover-always-white: #FFFFFF29;
  --state-surface-pressed-always-white: #FFFFFF3D;
  --state-border-selected-brand-bold: #001AFF;
  --state-border-selected-brand-regular: #020B5B;
  --state-border-selected-brand-inverse: #FFFCED;
}

[data-theme="dark"] {
  --surface-neutral-minimal: #0D0E0F;
  --surface-neutral-subtler: #18191A;
  --surface-neutral-subtle: #15171A;
  --surface-neutral-regular: #222529;
  --surface-neutral-strong: #33373D;
  --surface-neutral-bold: #4D535C;
  --surface-neutral-inverse: #FFFFFF;
  --surface-brand-minimal: #020B5B;
  --surface-brand-subtle: #020B5B;
  --surface-brand-regular: #E7F5FF;
  --surface-brand-regular-always-dark: #010846;
  --surface-brand-bold: #2977FF;
  --surface-brand-inverse: #FFFCED;
  --surface-always-white: #FFFFFF;
  --surface-always-dark: #000000;
  --surface-always-dark-brand: #010846;
  --surface-status-red-bold: #E54545;
  --surface-status-red-subtle: #4D0000;
  --surface-status-orange-bold: #DB5816;
  --surface-status-orange-subtle: #852D00;
  --surface-status-yellow-bold: #FFC600;
  --surface-status-yellow-subtle: #664C03;
  --surface-status-green-bold: #07E175;
  --surface-status-green-subtle: #063D22;
  --surface-status-blue-bold: #4AD4FF;
  --surface-status-blue-subtle: #004F66;
  --surface-transparent: #00000000;
  --surface-overlay: #0000005C;
  --text-neutral-bold: #FFFFFFF5;
  --text-neutral-regular: #FFFFFFD6;
  --text-neutral-subtle: #FFFFFFB8;
  --text-neutral-minimal: #FFFFFF99;
  --text-brand-bold: #2977FF;
  --text-brand-regular: #E7F5FF;
  --text-brand-regular-always-dark: #020B5B;
  --text-brand-subtle: #E7F5FFB8;
  --text-inverse-neutral-bold: #000000;
  --text-inverse-brand-subtle: #020B5B;
  --text-always-white: #FFFFFF;
  --text-always-black: #000000;
  --text-always-brand-bold: #001AFF;
  --text-status-red: #FF6262;
  --text-status-orange: #FA6419;
  --text-status-yellow: #FFC600;
  --text-status-green: #07E175;
  --text-status-blue: #4AD4FF;
  --logo-colored: #FFFFFF;
  --logo-inverse: #000000;
  --logo-neutral: #FFFFFF;
  --logo-always-white: #FFFFFF;
  --border-brand-bold: #2977FF;
  --border-brand-regular: #E7F5FF;
  --border-brand-subtle: #FFFCEDB8;
  --border-neutral-bold: #FFFFFF;
  --border-neutral-strong: #FFFFFF99;
  --border-neutral-regular: #FFFFFF80;
  --border-neutral-subtle: #FFFFFF5C;
  --border-neutral-subtler: #FFFFFF33;
  --border-neutral-minimal: #FFFFFF1F;
  --border-inverse-neutral-bold: #000000;
  --border-inverse-neutral-regular: #000000D6;
  --border-inverse-neutral-subtle: #000000A3;
  --border-inverse-neutral-minimal: #00000080;
  --border-inverse-brand-subtle: #020B5B;
  --border-always-white-bold: #FFFFFF;
  --border-always-dark-bold: #000000;
  --border-status-green-bold: #14A85E;
  --border-status-red-bold: #FF6262;
  --border-status-orange-bold: #FA6419;
  --border-status-yellow-bold: #FFC600;
  --border-status-blue-bold: #4AD4FF;
  --border-brand-accent-01: #1EFF8F;
  --border-brand-accent-02: #FF6262;
  --border-brand-accent-03: #FFC600;
  --border-brand-accent-04: #4AD4FF;
  --border-brand-accent-05: #EAFF00;
  --data-color-1: #FFFCED;
  --data-color-2: #0461FF;
  --data-color-3: #1EFF8F;
  --data-color-4: #4AD4FF;
  --data-color-5: #FFC600;
  --data-color-6: #EAFF00;
  --data-color-7: #4489FF;
  --data-color-8: #00AD00;
  --data-color-9: #FA6419;
  --data-color-10: #A29AFF;
  --data-color-11: #FF6262;
  --data-status-red-bold: #FF6262;
  --data-status-green-bold: #1EFF8F;
  --data-status-yellow-bold: #FFC600;
  --data-status-orange-bold: #FA6419;
  --elevation-overlay-10: #FFFFFF1F;
  --elevation-overlay-20: #FFFFFF29;
  --elevation-overlay-30: #FFFFFF3D;
  --state-enabled: #00000000;
  --state-disabled: 40;
  --state-surface-hover-neutral: #FFFFFF1F;
  --state-surface-pressed-neutral: #FFFFFF33;
  --state-surface-selected-subtle: #0461FF33;
  --state-text-hover-neutral-bold: #FFFFFFB8;
  --state-text-pressed-neutral-bold: #FFFFFF99;
  --state-text-pressed-neutral-regular: #FFFFFF80;
  --state-text-pressed-neutral-subtle: #FFFFFF80;
  --state-text-pressed-neutral-minimal: #FFFFFFD6;
  --state-text-pressed-brand-bold: #CBE4FE;
  --state-text-pressed-brand-regular: #0461FF;
  --state-text-pressed-inverse-neutral-bold: #000000B8;
  --state-text-pressed-inverse-brand-subtle: #CBE4FE;
  --state-text-pressed-always-white: #FFFFFFB8;
  --state-text-pressed-always-black: #000000B8;
  --state-text-pressed-always-brand-bold: #0461FF;
  --state-text-pressed-error-bold: #990909;
  --state-text-pressed-warning-bold: #852D00;
  --state-text-pressed-success-bold: #095730;
  --state-text-hover-neutral-regular: #FFFFFF99;
  --state-text-hover-neutral-subtle: #FFFFFF99;
  --state-text-hover-neutral-minimal: #FFFFFFB8;
  --state-text-hover-brand-bold: #E7F5FF;
  --state-text-hover-brand-regular: #2977FF;
  --state-text-hover-inverse-neutral-bold: #000000D6;
  --state-text-hover-inverse-brand-subtle: #E7F5FF;
  --state-text-hover-always-white: #FFFFFFD6;
  --state-text-hover-always-black: #000000D6;
  --state-text-hover-always-brand-bold: #001AFF;
  --state-text-hover-error-bold: #B21212;
  --state-text-hover-warning-bold: #A33600;
  --state-text-hover-success-bold: #0B703D;
  --state-surface-selected-bold: #0461FF5C;
  --state-surface-hover-inverse: #00000014;
  --state-surface-pressed-inverse: #0000001F;
  --state-surface-hover-brand-accent: #0461FF1F;
  --state-surface-hover-inverse-brand-regular: #020B5B14;
  --state-surface-pressed-inverse-brand-regular: #020B5B1F;
  --state-surface-pressed-brand-accent: #0461FF29;
  --state-surface-hover-brand-regular: #FFFCED1F;
  --state-surface-pressed-brand-regular: #FFFCED29;
  --state-surface-hover-always-black: #00000014;
  --state-surface-pressed-always-black: #0000001F;
  --state-surface-hover-always-white: #FFFFFF29;
  --state-surface-pressed-always-white: #FFFFFF3D;
  --state-border-selected-brand-bold: #2977FF;
  --state-border-selected-brand-regular: #020B5B;
  --state-border-selected-brand-inverse: #E7F5FF;
}

